body {
    background-color: rgb(240, 245, 238);
    font-family: 'Times New Roman', Times, serif;
}

.container {
    border: white;
    padding: 3em;
}

.btn {
    color: rgb(234, 247, 240);
    background-color: rgb(43, 24, 248);
}
.prep-pad {
    background-color: rgb(33, 147, 247);
    color: aliceblue;
}